<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статус заказа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/cour.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/logo.svg"/ sizes="32x32">
</head>
<body>
    <div class="container">
        <h1>Статус заказа</h1>
        <div class="order-info">
            <p><strong>Номер заказа:</strong> {{ order_number }}</p>
            <p><strong>Статус заказа:</strong> {{ status }}</p>
        </div>
        <h2>Вы заказали:</h2>
        <div class="cart-items">
            {% for item in cart_items %}
            <div class="cart-item">
                <p>{{ item.name }}</p>
                <p>{{ item.price }} руб.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
